<div class="body"  style="background-color: #0a226f;padding-top:104px;">
<header class="container-fluid">
  <div class="row">
      <nav class="fixed-top navbar navbar-expand-sm navbar-dark bg-black">
          <div class="container-fluid d-flex align-items-center">               
              <a class="navbar-brand" href="">
                  <img src="../assets/Imagenes/Logo.jpg" alt="logo">
                  <b>#YoProgramo</b> 
              </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
              </button>                 
              <div class="collapse navbar-collapse justify-content-end" id="navbarToggler">
                  <div class="navbar-nav">
                      <a class="nav-link fa fa-twitter" href="https://twitter.com/luchoyvuelvo2"></a>
                      <a class="nav-link fa fa-facebook" href="https://www.facebook.com/Luichi923"></a>
                      <a class="nav-link" href="#"><button type="button" class="btn btn-secondary login-btn">Login</button></a>
                  </div>
              </div>
          </div>
      </nav>
  </div>
  <div class="row">
      <div class="col">
              <img src="../assets/Imagenes/Malvinas.jpg" id="fotofondo-banner" class="img-responsive d-block rounded" alt="FotoFondo">
              <img src="../assets/Imagenes/FotoPortfolio.jpg" id="fotopersonal-banner" class="img-fluid rounded-circle" alt="FotoPersonal">
      </div>
  </div>
</header>
<main id="principal" class="container" style="margin-top:0%;">
  <section id="acercade">
      <div class="row justify-content-center justify-content-sm-between align-items-center">
          <div class="col-7 col-sm-6 col-md-3 border border-3 border-black bg-secondary rounded">
              <h6 class="fw-bold">Información Personal</h6>
          </div>
          <div class="col-2">
              <div class="d-flex justify-content-end justify-content-sm-center align-items-center">
                  <a href="#"><i class="fa fa-pencil"></i></a>
                  <a href="#" class="link-papelera"><i class="fa fa-trash"></i></a>
                  <!-- <button type="button" class="btn btn-secondary btn-sm border border-3 border-black bg-secondary rounded"><i class="fa fa-pencil"></i></button>
                  <button type="button" class="btn btn-secondary btn-sm border border-3 border-black bg-secondary rounded" style="margin-left:2%;"><i class="fa fa-trash"></i></button> -->
              </div>        
          </div>
      </div>
      <div class="row pt-2 justify-content-center justify-content-sm-around align-items-center">
          <div class="col-11 col-sm-3 col-md-2 border border-3 border-black bg-secondary rounded">
              <p class="acercade" id="nomapeprof">Nombre, Apellido y Profesión</p>
          </div>
          <div class="col-11 col-sm-7 col-md-8 mt-1 mt-sm-0 border border-3 border-black bg-secondary rounded">
              <p>Explicación de habilidades profesionales</p>
          </div>
      </div>
  </section>
  <section id="infoprofesional" class="mt-5">
      <div class="row justify-content-center justify-content-sm-between align-items-center">
          <div class="col-7 col-sm-6 col-md-3 border border-3 border-black bg-secondary rounded">
              <h6 class="fw-bold">Experiencia Laboral</h6>
          </div>
          <div class="col-2">
              <div class="d-flex justify-content-end justify-content-sm-center align-items-center">
                  <a href="#"><i class="fa fa-pencil"></i></a>
                  <a href="#" class="link-papelera"><i class="fa fa-trash"></i></a>
              </div>        
          </div>
      </div>
      <div class="row pt-2 justify-content-center justify-content-sm-around align-items-center">
          <div class="col-4 col-sm-3 col-md-2 border border-3 border-black bg-secondary rounded">
              <p class="infoprofesional" id="anios">Int años</p>
          </div>
          <div class="col-7 col-sm-7 col-md-8 border border-3 border-black bg-secondary rounded">
              <p>Experiencia</p>
          </div>
      </div>
      <div class="row pt-1 justify-content-center justify-content-sm-around align-items-center">
          <div class="col-4 col-sm-3 col-md-2 border border-3 border-black bg-secondary rounded">
              <p class="infoprofesional" id="anios">Int años</p>
          </div>
          <div class="col-7 col-sm-7 col-md-8 border border-3 border-black bg-secondary rounded">
              <p>Experiencia</p>
          </div>
      </div>
      <div class="row pt-1 justify-content-center justify-content-sm-around align-items-center">
          <div class="col-4 col-sm-3 col-md-2 border border-3 border-black bg-secondary rounded">
              <p class="infoprofesional" id="anios">Int años</p>
          </div>
          <div class="col-7 col-sm-7 col-md-8 border border-3 border-black bg-secondary rounded">
              <p>Experiencia</p>
          </div>
      </div>
  </section>
  <section id="educacion" class="mt-5">
      <div class="row justify-content-center justify-content-sm-between align-items-center">
          <div class="col-7 col-sm-6 col-md-3 border border-3 border-black bg-secondary rounded">
              <h6 class="fw-bold">Formación</h6>
          </div>
          <div class="col-2">
              <div class="d-flex justify-content-end justify-content-sm-center align-items-center">
                  <a href="#"><i class="fa fa-pencil"></i></a>
                  <a href="#" class="link-papelera"><i class="fa fa-trash"></i></a>
              </div>        
          </div>
      </div>
      <div class="row pt-2 justify-content-center justify-content-sm-around align-items-center">
          <div class="col-4 col-sm-3 col-md-2 border border-3 border-black bg-secondary rounded">
              <p class="educacion" id="anio">Año</p>
          </div>
          <div class="col-7 col-sm-7 col-md-8 border border-3 border-black bg-secondary rounded">
              <p>Formación</p>
          </div>
      </div>
      <div class="row pt-1 justify-content-center justify-content-sm-around align-items-center">
          <div class="col-4 col-sm-3 col-md-2 border border-3 border-black bg-secondary rounded">
              <p class="educacion" id="anio">Año</p>
          </div>
          <div class="col-7 col-sm-7 col-md-8 border border-3 border-black bg-secondary rounded">
              <p>Formación</p>
          </div>
      </div>
      <div class="row pt-1 justify-content-center justify-content-sm-around align-items-center">
          <div class="col-4 col-sm-3 col-md-2 border border-3 border-black bg-secondary rounded">
              <p class="educacion" id="anio">Año</p>
          </div>
          <div class="col-7 col-sm-7 col-md-8 border border-3 border-black bg-secondary rounded">
              <p>Formación</p>
          </div>
      </div>
  </section>
  <section id="hardandsoftkills" class="mt-5">
      <div class="row justify-content-center justify-content-sm-between align-items-center">
          <div class="col-7 col-sm-6 col-md-3 border border-3 border-black bg-secondary rounded">
              <h6 class="fw-bold">Hard and Soft Kills</h6>
          </div>
          <div class="col-2">
              <div class="d-flex justify-content-end justify-content-sm-center align-items-center">
                  <a href="#"><i class="fa fa-pencil"></i></a>
                  <a href="#" class="link-papelera"><i class="fa fa-trash"></i></a>
              </div>        
          </div>
      </div>
  </section>
  <section id="proyectos" class="mt-5">
      <div class="row justify-content-center justify-content-sm-between align-items-center">
          <div class="col-7 col-sm-6 col-md-3 border border-3 border-black bg-secondary rounded">
              <h6 class="fw-bold">Proyectos</h6>
          </div>
          <div class="col-2">
              <div class="d-flex justify-content-end justify-content-sm-center align-items-center">
                  <a href="#"><i class="fa fa-pencil"></i></a>
                  <a href="#" class="link-papelera"><i class="fa fa-trash"></i></a>
              </div>        
          </div>
      </div>
      <div class="row pt-2 justify-content-center align-items-center">
          <div class="col-11 border border-3 border-black bg-secondary rounded">
              <p>Título y desarrollo del Proyecto</p>
          </div>
      </div>
      <div class="row pt-1 ps-5 justify-content-start align-items-center">
          <div class="col-3">
              <a href=""><button type="button" class="btn btn-sm btn-success"><span>Link al proyecto</span></button></a>
          </div>
      </div>
      <div class="row pt-1 justify-content-center align-items-center">
          <div class="col-11 border border-3 border-black bg-secondary rounded">
              <p>Título y desarrollo del Proyecto</p>
          </div>
      </div>
      <div class="row pt-1 ps-5 justify-content-start align-items-center">
          <div class="col-3">
              <a href=""><button type="button" class="btn btn-sm btn-success"><span>Link al proyecto</span></button></a>
          </div>
      </div>
  </section>
</main>
</div>