<div class="row">
  <nav class="fixed-top navbar navbar-expand-sm navbar-dark bg-black">
      <div class="container-fluid d-flex align-items-center">
          <a class="navbar-brand" href="">
              <img src=".../assets/Imagenes/Logo.jpg" alt="logo">
              <b>#YoProgramo</b>
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navbarToggler">
              <div class="navbar-nav">
                  <a class="nav-link fa fa-twitter" href="https://twitter.com/luchoyvuelvo2" target="_blank"></a>
                  <a class="nav-link fa fa-facebook" href="https://www.facebook.com/Luichi923" target="_blank"></a>
                  <a class="nav-link" href="#"><button type="button" class="btn btn-secondary login-btn">Login</button></a>
              </div>
          </div>
      </div>
  </nav>
</div>
